<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RSS_Url" value="http://4pda.ru/feed/" /> <!-- http://feeds.bbci.co.uk/news/world/rss.xml https://habrahabr.ru/rss/feed/posts/6266e7ec4301addaf92d10eb212b4546/ -->
    <add key="RSS_StartPubDate" value="" /> <!-- (Wed, 11 Jan 2017 08:30:16 GMT) Format[ddd, dd MMM yyyy HH:mm:ss GMT]. If empty - takes current time. -->
    <add key="RSS_DateTimeFormat" value="ddd, dd MMM yyyy HH:mm:ss zzzz"/>
    
    <add key="Update_Interval" value="10000" />

    <add key="Template_File" value="C:\\Type RSS Task\1080i_25.CinType" /> <!-- support only CinType  -->
    <add key="Target_TextVariable" value="Text_Marquee" /> <!-- support only TEXT and STRING -->
    
    <add key="Playout_Hostname" value="." />
    <add key="Playout_Instance" value="0" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>