<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICinegyDataAccessService" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8082/ICinegyDataAccessService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICinegyDataAccessService"
                contract="CinegyArchiveService.ICinegyDataAccessService" name="BasicHttpBinding_ICinegyDataAccessService" />
        </client>
    </system.serviceModel>
</configuration>